@import "vars"

$fredboatColor: #1CBFE2
$tocBg: #2E3136
$tocBorderColor: #4c5059
$blurple: #7289DA
$pageMargin: 100px
$tocWidth: 300px
$headerHeight: 64px

.header
    height: $headerHeight
    width: calc(100% - #{$pageMargin}*2)
    background: $fredboatColor
    padding: 0 $pageMargin 0 $pageMargin
    @media screen and (max-width: $breakLarge)
        padding: 0 10px 0 10px
        width: calc(100% - 20px)

    @media screen and (max-width: $breakSmall)
        // Center the logo
        display: flex
        justify-content: center
        align-items: center

.logo
    height: 48px
    width: 48px
    margin: 8px 8px 8px 0
    display: inline
    float: left
    user-select: none

.logo-text
    display: inline
    font-family: "Fugaz One", sans-serif
    font-size: 32px
    line-height: 64px
    user-select: none
    cursor: default
    @media screen and (max-width: $breakSmall)
        display: none

.header-right
    float: right
    height: 100%
    position: relative
    bottom: 6px
    user-select: none

    .icons
        display: inline
        height: 16px

        @media screen and (max-width: $breakLarge)
            display: none

        img
            margin: 24px 6px 0 6px
            opacity: 0.9
            transition: opacity .15s
        img:hover
            opacity: 1
        a, img
            height: 16px
            width: 16px


.discord > img
    height: 22px !important
    width: 22px !important
    position: relative
    top: 4px

.twitter > img
    height: 20px !important
    width: 20px !important
    position: relative
    top: 2px

.header-button
    color: #eeeeee
    text-decoration: none
    font-family: Lato, sans-serif
    height: 32px
    line-height: 32px
    margin: 16px 16px 16px 16px
    display: inline-block
    font-size: 16px
    position: relative
    bottom: 3px
    opacity: 0.8
    transition: opacity .3s

    @media screen and (max-width: $breakLarge)
        padding-left: 10px
        line-height: 40px
        position: static

    @media screen and (max-width: $breakSmall)
        display: none

.header-button:hover
    opacity: 1

.header-button:hover
    color: white

.header-button
    border-right: none

.header-button:first-child
    border-left: none

.page-body
    display: flex

.Markdown
    height: calc(100vh - #{$headerHeight})
    width: calc(100vw - #{$tocWidth})
    @media screen and (max-width: $breakSmall)
        //Make space for the BottomBar
        height: calc(100vh - #{$headerHeight} - 96px)
    border-left: 1px solid #4c5059
    flex-grow: 2

/* Scroll bar */
::-webkit-scrollbar
    width: 1em

::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)


::-webkit-scrollbar-thumb
    background-color: darkgrey
    outline: 1px solid slategrey

::-webkit-scrollbar-corner
    background-color: rgba(0,0,0,0.3)