$fredboatColor: #1CBFE2
$tocBg: #2E3136
$tocBorderColor: #4c5059
$pageMargin: 100px
$tocWidth: 300px
$headerHeight: 64px

.header
    height: $headerHeight
    width: calc(100% - #{$pageMargin}*2)
    background: $fredboatColor
    padding: 0 $pageMargin 0 $pageMargin

.logo
    height: 48px
    width: 48px
    margin: 8px 8px 8px 0
    display: inline
    float: left
    user-select: none

.logo-text
    display: inline
    font-family: "Fugaz One", sans-serif
    font-size: 32px
    line-height: 64px
    user-select: none
    cursor: default

.page-body
    display: flex

.Markdown
    height: calc(100vh - #{$headerHeight})
    width: calc(100vw - #{$tocWidth})
    border-left: 1px solid #4c5059
    flex-grow: 2

