$fredboatColor: #1CBFE2
$tocBg: #2E3136
$pageMargin: 100px
$tocWidth: 216px
$headerHeight: 64px

.header
    height: $headerHeight
    width: calc(100% - #{$pageMargin}*2)
    background: $fredboatColor
    padding: 0 $pageMargin 0 $pageMargin

.logo
    height: 48px
    width: 48px
    margin: 8px 8px 8px 0
    display: inline
    float: left

.logo-text
    display: inline
    font-family: "Fugaz One", sans-serif
    font-size: 32px
    line-height: 64px

.page-body
    display: flex

.table-of-contents
    width: 216px
    height: calc(100vh - #{$headerHeight})
    padding-left: calc(#{$pageMargin} + 28px)
    background-color: $tocBg

.toc-title
    color: white
    font-family: 'Pragmati Narrow', sans-serif
    font-weight: bold
    font-size: 20px
    text-transform: uppercase
    padding-top: 16px

.Markdown
    height: calc(100vh - #{$headerHeight})
    width: calc(100vw - #{$tocWidth})
    border-left: 1px solid #4c5059


