@import "vars"

.BottomBar
    @media screen and (min-width: $breakSmall)
        //Small screens only
        display: none
    height: 96px
    width: 100%
    background-color: #2E3136
    overflow-x: auto
    overflow-y: hidden
    white-space: nowrap

.BottomBar::-webkit-scrollbar
    display: none

.BottomBarButton, .BottomBarButton > a
    width: 96px
    height: 96px
    display: inline-block
    color: #868686
    text-align: center
    vertical-align: top
    text-decoration: none
    .fa
        margin-top: 10px
        line-height: 38px
    div
        margin: 0
        white-space: normal
        font-family: Lato, sans-serif

.BottomBarButton.active > a
    color: #c0c0c0

.BottomBarButton:hover > a
    color: white