$colorTextBody: #cacaca

.Markdown
    background-color: #36393E
    color: whitesmoke
    font-family: Lato, sans-serif
    overflow: auto
    a
        color: lightskyblue
    p, td
        color: $colorTextBody
    code
        background-color: #272524
        padding: 8px
        display: block
        word-wrap: break-word
    pre > code
        border: 2px solid #44494f
        border-radius: 6px
        white-space: pre-wrap
    p > code
        display: inline
        padding: 2px
        border-radius: 4px
    table
        border: white
    tbody
        background-color: #3c4046
        tr:nth-child(odd)
            background-color: #33363b
    td
        padding: 4px 4px 4px 8px
    th
        background-color: #4b5058
        font-size: 18px
        padding: 6px
    li
        color: $colorTextBody
    li > p
        margin: 4px

.content
    max-width: 50em
    padding: 8px 16px 32px 32px

.Loading > div
    margin-top: 25vh !important
    width: 80px !important
    height: 80px !important

.Loading > div > svg > circle
    animation: dash 1.5s ease-in-out infinite !important
    stroke: white !important

/* Scroll bar */
.Markdown::-webkit-scrollbar
    width: 1em

.Markdown::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)


.Markdown::-webkit-scrollbar-thumb
    background-color: darkgrey
    outline: 1px solid slategrey