.Markdown
    background-color: #36393E
    padding-left: 16px
    color: whitesmoke
    font-family: Lato, sans-serif
    overflow: auto
    a
        color: lightskyblue
    p, td
        color: #cacaca
    code
        background-color: #565d65
        padding: 8px
        display: block
    pre > code
        border: 2px solid #44494f
        border-radius: 6px
    p > code
        display: inline
        padding: 2px
        border-radius: 4px
    table
        border: white
    tbody
        background-color: #3c4046
        tr:nth-child(odd)
            background-color: #33363b
    th
        background-color: #4b5058
        font-size: 18px
        padding: 6px
    li > p
        margin: 4px

.content
    max-width: 50em

.Loading > div
    margin-top: 25vh !important
    width: 80px !important
    height: 80px !important

.Loading > div > svg > circle
    animation: dash 1.5s ease-in-out infinite !important
    stroke: white !important
