@import "vars"

$tocBg: #2E3136
$tocBorderColor: #4c5059

.Toc
    width: $tocWidth
    height: calc(100vh - #{$headerHeight})
    background-color: $tocBg
    font-family: 'Pragmati Narrow', sans-serif
    flex-grow: 1

    // A flexbox with two items. The ToC at the top, and potentially an ad at the bottom
    display: flex
    flex-direction: column
    justify-content: space-between

    @media screen and (max-width: $breakLarge)
        width: calc(#{$tocWidth} - #{$pageMargin} - 80px)
    @media screen and (max-width: $breakSmall)
        display: none

    .toc-title
        color: white
        font-weight: bold
        font-size: 20px
        text-transform: uppercase
        padding-top: 32px
        margin-bottom: 16px
        @media screen and (max-width: $breakLarge)
            padding-top: 24px
    .toc-separator
        width: 90%
        height: 1px
        margin: 16px 10% 16px 0
        background-color: $tocBorderColor
    h2
        text-transform: uppercase
        font-size: 16px
        color: white
        margin-bottom: 16px

.toc-inner
    margin-left: calc(#{$pageMargin} + 28px)
    @media screen and (max-width: $breakLarge)
        margin-left: 10px

#ad-sidebar, #ad-sidebar-blocked
    margin-right: 10px
    margin-left: 10px
    margin-bottom: 10px
    display: flex
    justify-content: center
    @media screen and (max-width: $breakLarge)
        display: none
    @media screen and (max-height: $breakTocAd)
        display: none

.adsbygoogle
    position: relative
    bottom: 26px

.adblock-notif
    width: 336px
    height: 280px
    color: $colorTextBody
    font-family: Lato, sans-serif
    font-size: 20px

    border: dashed medium #4c5059
    background-color: #202226
    border-radius: 16px

    display: flex
    justify-content: center
    flex-direction: column

    p
        margin: 0
        text-align: center
    a
        color: #FAA61A

.about-ads
    position: absolute
    bottom: 10px
    color: $colorTextBody
    margin: 0
    a
        color: $colorTextBody